GOOGLE_PLACES_API_KEY=
PORT=3000
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
SCHEDULES_SUBCOLLECTION=schedules
RECOMMENDATION_FEEDBACK_SUBCOLLECTION=recommendationFeedback
SEARCH_LOG_SUBCOLLECTION=searchLogs
